<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inintial=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <nav class="navbar">
    <a class="nav-bar" href="{% url 'index' %}">Superlists</a>
  {% if user.email %}
    <ul>       
      <li>Logiged in as {{ user.email }}</li>
      <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
    </ul>

  {% else %}
    <form method="POST" action="{% url "accounts:send" %}">
      <span>Enter email to login in:</span>
      <input name="email" type="text">
      {% csrf_token %}
    </form>
  {% endif %}
  </nav>
  {% if messages %}
    {% for message in messages %}
       {% if message.lever_tag == 'success' %}
         <div class="alert alert-success">{{ message }}</div>
       {% else %}
         <div class="alert alert-warning">{{ message }}</div>
       {% endif %}
    {% endfor %}
  {% endif %}
  <h1>{% block header%}{% endblock %}</h1>
  <form method="POST" action="{% block action %}{% endblock %}">
    {{ form.text }}
    {% csrf_token %}
    {% if form.errors %}
      <div class='has-error'>{{ form.text.errors }}</div>
    {% endif %}
  </form>
  
  {% block table %}
  {% endblock %}
</body>
</html>
